<div id="modal" style="display: none">
    <div class="containerModal">
        <div id="error" style="display: none">
            <div class="row">
                <div class="col-xs center">
                    <h3 id="messageError"></h3>
                </div>
            </div>
        </div>

        <div id="choisePseudo" style="display: none">
            <div class="row">
                <div class="col-xs center">
                    <h3>Choisie un Pseudo</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <input type="text" id="inputPseudo">
                </div>
                <div class="col-xs">
                    <div class="btn" id="sendPseudo">Valider</div>
                </div>
            </div>
        </div>

        <div id="newInvite" style="display: none">
            <div class="row">
                <div class="col-xs center">
                    <h3 id="invitTitle"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <div class="btn" id="acceptInvite">Accepter</div>
                </div>
                <div class="col-xs">
                    <div class="btn" id="refuseInvite">Refuser</div>
                </div>
            </div>
        </div>

        <div id="newGame" style="display: none">
            <div class="row">
                <div class="col-xs center">
                    <h3>Créer un nouvelle Univer</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    Nom de votre Univer
                </div>
                <div class="col-xs">
                    <input type="text" id="GameName">
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    Nombre de Joueur
                </div>
                <div class="col-xs">
                    <input type="number" id="GameSize" min="2" max="4" value="2">
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <div class="btn" id="validGame">Valider</div>
                </div>
                <div class="col-xs">
                    <div class="btn" id="closeCreateGame">Annuler</div>
                </div>
            </div>
        </div>
    </div>
</div>