<%- include('partials/header'); -%>
<%- include('partials/modal'); -%>


<div class="container" id="game">
    <div id="planetInfo">

        <h3 id="infoName"></h3>
        <div id="infoPosition"></div>
        <div id="infoSize"></div>
        <div id="ressource">
            <div class="row">
                <div class="col-xs-3 value">
                    <div class="icon iron"></div>
                    <div id="value-Fer">255</div>
                </div>
                <div class="col-xs-3 value">
                    <div class="icon elec"></div>
                    <div id="value-Elec">255</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 value">
                    <div class="icon money"></div>
                    <div id="value-Money">255</div>
                </div>
            </div>
        </div>
        <div id="construct" class="row">

        </div>
        <div id="tooltipBatiment" class="neutre">
            <div id="info">
                <h3 id="nameBatiment">Construction</h3>
                <div class="row">
                    <div class="col-xs-11" id="descBatiment">
                        Passe ta souri sur un batiment pour en savoir plus
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs">
                        <h3>Prix : </h3>
                    </div>
                </div>
                <div id="prize">
                    <div class="row">
                        <div class="col-xs-5"></div>
                        <div class="col-xs" id="prize-iron"></div>
                        <div class="col-xs-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5"></div>
                        <div class="col-xs" id="prize-elec"></div>
                        <div class="col-xs-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5"></div>
                        <div class="col-xs" id="prize-money"></div>
                        <div class="col-xs-1"></div>
                    </div>
                </div>
            </div>
            <div id="icon"></div>
        </div>
    </div>
    <div class="row" id="topBar">
        <div class="col-xs-3 ressources">
            <div id="Res-Iron" class="iron"></div>
        </div>
        <div class="col-xs-3 ressources">
            <div id="Res-Elec" class="elec"></div>
        </div>
        <div class="col-xs-3 ressources">
            <div id="Res-Money" class="money"></div>
        </div>
    </div>
    <div class="row" id="board">
        <div class="col-xs">
            <canvas id="Map" width="1200" height="700">

            </canvas>
        </div>
    </div>
    <div class="row" id="tools">
        <div class="col-xs" id="order">
            <div class="row">
                <div class="col-xs-10"><input type="text" id="order-1" class="order"></div>
                <div class="col-xs">
                    <div class="btn" onclick="deleteOrder(1)">X</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10"><input type="text" id="order-2" class="order"></div>
                <div class="col-xs">
                    <div class="btn" onclick="deleteOrder(2)">X</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10"><input type="text" id="order-3" class="order"></div>
                <div class="col-xs">
                    <div class="btn" onclick="deleteOrder(3)">X</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10"><input type="text" id="order-4" class="order"></div>
                <div class="col-xs">
                    <div class="btn" onclick="deleteOrder(4)">X</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10"><input type="text" id="order-5" class="order"></div>
                <div class="col-xs">
                    <div class="btn" onclick="deleteOrder(5)">X</div>
                </div>
            </div>


        </div>
        <div class="col-xs">
            <div class="row">
                <div class="col" id="barTimer">
                    <div id="Timer">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="btn" id="startTurn">Lancer la Game</div>
                </div>

                <div class="col">
                    <div class="btn" id="sendOrder">Valider mes ordres</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/game.js"></script>
<script>

</script>
<%- include('partials/footer'); -%>