@import "partials/reset";
@import "partials/grid";
@import "partials/modal";
@import "partials/main";
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Raleway');




::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}


body {
  background: url('../img/back.png');
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;

  h3 {
    font-size: 1.5em;
    font-family: 'Orbitron', sans-serif;
  }

  .row {
    margin-bottom: 10px;

    [class*="col-"] {
      &.center {
        text-align: center;
      }
    }
  }

  .container {
    padding: 10px 20px;

    .row {
      margin-bottom: 10px;

      [class*="col-"] {
        &.center {
          text-align: center;
        }
      }
    }
  }

  .btn {
    background: red;
    border-radius: 5px;
    max-width: 150px;
    text-align: center;
    font-size: 1.4em;
    padding: 5px 10px 3px;
    border: 2px solid red;
    cursor: pointer;
    color: yellow;

    &.mini {
      max-width: 20px;
    }

    &:hover {
      background: yellow;
      border: 2px solid red;
      color: red;
    }
  }

  input {
    border-radius: 5px;
    text-align: center;
    font-size: 1.4em;
    border: 2px solid red;
    outline: none;
    color: red;
    width: 100%;

    &:focus {
      border: 2px solid yellow;
    }

  }

  #game {
    background: #FFF;

    #planetInfo {
      position: absolute;
      min-width: 300px;
      top: -400px;
      left: -400px;
      background: rgba(45, 45, 45, 0.8);
      padding: 10px;
      border-radius: 5px;
      border: 2px solid #000;
      cursor: pointer;
      color: #FFF;
      display: none;
      z-index: 500;



      .value {
        [id*="value-"] {
          padding: 2px 5px 10px 1.7em;
          min-width: 66px;
          font-size: 1.4em;
          margin-bottom: 5px;
          color: #000;
          max-width: 50px;
          border-radius: 5px;
        }

        #value-Fer {
          background: url('../img/iron.png') rgba(255, 255, 255, 0.8) no-repeat;
          background-size: contain;
          border: 2px solid #FFF;
        }

        #value-Elec {
          background: url('../img/elec.png') rgba(255, 255, 255, 0.8) no-repeat;
          background-size: contain;
          border: 2px solid #FFF;
          ;
        }

        #value-Money {
          background: url('../img/money.png') rgba(255, 255, 255, 0.8) no-repeat;
          background-size: contain;
          border: 2px solid #FFF;
        }
      }

      #construct {
        padding-top: 10px;

        .batiment {
          height: 60px;
          border: 2px solid #FFF;
          background: rgba(255, 255, 255, 0.8);
          border-radius: 5px;
          margin: 5px 5px;

          &:hover {
            border: 2px solid #000;
            background: rgba(45, 45, 45, 0.8);
          }

          &.player0 {
            border: 2px solid rgba(255, 0, 0, 1);
            background: rgba(255, 0, 0, 0.5);
          }

          &.player1 {
            border: 2px solid rgba(0, 0, 255, 1);
            background: rgba(0, 0, 255, 0.5);
          }
        }

        .atack,
        .explo,
        .commerce,
        .megapole {
          height: 60px;
        }

        .megapole {
          background: url('../img/batiments/megapole.png') no-repeat;
          background-size: contain;
          background-position: 50% 50%;
        }

        .atack {
          background: url('../img/batiments/attack.png') no-repeat;
          background-size: contain;
          background-position: 50% 50%;
        }

        .explo {
          background: url('../img/batiments/explo.png') no-repeat;
          background-size: contain;
          background-position: 50% 50%;
        }

        .commerce {
          background: url('../img/batiments/commerce.png') no-repeat;
          background-size: contain;
          background-position: 50% 50%;
        }

      }
    }

    #topBar {
      background: yellow;
      margin-bottom: 0;

      .ressources {
        background: rgba(45, 45, 45, 0.8) no-repeat;
        border: 2px solid #000;
        padding: 2px 10px 2px 0px;
        border-radius: 5px;
        margin: 2px 5px;
        color: #FFF;
        font-size: 1.3em;
        font-family: 'Orbitron', sans-serif;
        .iron,
        .elec,
        .money {
          min-width: 60px;
          height: 30px;
          padding-left: 35px;
          padding-top: 15px;

        }

        .iron {
          background: url('../img/iron.png') no-repeat;
          background-size: contain;
          background-position: 0% 50%;
        }

        .elec {
          background: url('../img/elec.png') no-repeat;
          background-size: contain;
          background-position: 0% 50%;
        }

        .money {
          background: url('../img/money.png') no-repeat;
          background-size: contain;
          background-position: 0% 50%;
        }


      }
    }

    #board {
      background: blue;
      margin-bottom: 0;
      padding: 10px 7px;

      #Brouillard {
        height: 700px;
        width: 1200px;
        position: absolute;
      }

      #Map {
        background: rgb(12, 15, 19);
        height: 700px;
        width: 1200px;
      }
    }

    #tools {
      background: green;
      padding: 20px;
    }
  }

}